.nav {
  grid-area: n;
  background: red;
  padding: 20px;
  width: 200px;
}
.item a {
  color:  white;
  text-decoration: none;
}
.item a.active {
  color: black;
}
.friends {
  margin-top: 30px;
  display: flex;
}